# Ignore Annoy-a-tron
package-lock.json
# Ignore client-side build output
build/**
# Ignore components pug files since this is copied from ./componenents by the build
src/server/views/components/**
node_modules
